.CarouselItem {
  width: 500px;
  position: relative;
  cursor: pointer;
}
.CarouselItem-container {
  height: 500px;
  width: 100%;
}
.CarouselItem-drinkname {
  position: absolute;
  top: 10px;
  z-index: 99;
  padding: 10px;
  background-color: #000;
  color: var(--color-rose);
  font-family: var(--font-sbeReg);
}
