.DrawerMenu {
  max-height: 100vh;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid var(--color-rose);
  background-color: #fff;
  transition: 1s;
  padding: 10px;
  overflow-x: scroll;
  z-index: 1;
}
.DrawerMenu-header {
  display: flex;
  justify-content: space-between;
}
.DrawerMenu-header > div,
.DrawerMenu-header > h3 {
  flex: 1;
}
.DrawerMenu-header > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.DrawerMenu-close-icon {
  background-color: #000;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 10px;
  right: 0;
}
.DrawerMenu-btn-container {
  /* background-color: chartreuse; */
  margin-top: 20px;
}

.DrawerMenu-btn {
  border: 2px solid #fff;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: var(--color-rose);
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}
.DrawerMenu-btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid var(--color-rose);
  transition: 0.5s;
  box-sizing: border-box;
}
.DrawerMenu-ingredient-container {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.DrawerMenu-ingredient-container > a {
  color: #000;
  border-bottom: 1px solid var(--color-orange);
  margin-top: 10px;
  text-decoration: none;
}
