.DrinkPage {
  margin-top: 150px;
}
.DrinkPage-wrapper {
  margin: auto;
  width: 1200px;
}
.DrinkPage-container {
  display: flex;
  margin-top: 20px;
}
.DrinkPage-left-container {
  width: auto;
  position: relative;
}
.DrinkPage-bgc {
  background: url("../assets/rosegoldbgc.jpg") no-repeat;
  width: 300px;
  height: 300px;
}
.DrinkPage-img {
  position: absolute;
  width: 500px;
  object-fit: cover;
  height: 300px;
  top: 50px;
  left: 50px;
}
.DrinkPage-right-container {
  width: 100%;
  height: 500px;
  margin-left: 200px;
  padding: 20px;
  box-shadow: 0px 0px 30px 7px rgba(186, 186, 186, 1);
}
.DrinkPage-right-subcontainer {
  border: 1px solid var(--color-rose);
  height: 100%;
  padding: 50px 100px;
}
.DrinkPage-ingredients {
  margin-bottom: 50px;
}
.DrinkPage-favs {
  margin-top: 50px;
  width: auto;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.DrinkPage-favs > svg {
  margin-left: 10px;
}
.add {
  background-color: var(--color-rose);
  border: 2px solid #fff;
  color: #fff;
}
.del {
  border: 2px solid var(--color-rose);
}
