/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
@font-face {
  font-family: "Martel";
  src: url("../assets/fonts/Martell-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SangBlueEmpire-Regular";
  src: url("../assets/fonts/SangBleuEmpire-Regular.woff2");
}
@font-face {
  font-family: "SangBlueEmpire-Bold";
  src: url("../assets/fonts/SangBleuEmpire-Bold.woff2");
}

/* VARIABLES */
:root {
  --color-rose: #ddb9ba;
  --font-sbeReg: "SangBlueEmpire-Regular";
  --font-sbeBold: "SangBlueEmpire-Bold";
  --font-martel: "Martel";
}

/* GLOBAL */
body {
  font-family: var(--font-martel), sans-serif;
  font-size: 12px;
}
.wrapper {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}
.Link {
  text-decoration: none;
  color: #000;
}
h1 {
  padding: 5px;
  font-family: var(--font-sbeBold);
  border-bottom: 6px solid var(--color-rose);
}
h2 {
  font-family: var(--font-martel);
}
h5 {
  color: var(--color-rose);
  font-size: 15px;
  margin-bottom: 10px;
}

/* App */
.App {
  position: relative;
}
