header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.Header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header-drawermenu-icon-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.Header-drawermenu-icon {
  cursor: pointer;
}
.Header-title {
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.Header-search-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.Header-search-input {
  border: 2px solid var(--color-rose);
  padding: 5px;
  height: 30px;
  width: 200px;
  box-sizing: border-box;
}
.Header-search-result-container {
  position: absolute;
  box-shadow: 0px 0px 30px 7px rgba(186, 186, 186, 1);
  background-color: #fff;
  max-height: 200px;
  overflow-x: scroll;
  /* top: 0px; */
  right: 0;
  top: 30px;
  width: 200px;
}
