.Home {
  margin-top: 150px;
}
.Home-carousel-container {
  width: 100%;
  height: 300px;
  /* background-color: var(--color-wine); */
  /* background-color: #ecbbaf; */
  background: url("../assets/rosegoldbgc.jpg");
  margin-top: 20px;
}
.Home-carousel-subcontainer {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.Home-carousel-alcohol-container {
  width: 500px;
}
.Home-second-container {
  margin-top: 400px;
}
